<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Admin</title>
</head>




    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">User</h5>
                <div class="card-body">
                    <h5 class="card-title">Edition des utilisateurs</h5>
                    <a href="{{ path('app_backoffice_movie_index')}}" class="btn btn-primary">Afficher la liste</a>
                    <a href="{{ path('app_backoffice_movie_new')}}" class="btn btn-success">Modification</a>
                    <a href="{{ path('app_backoffice_movie_new')}}" class="btn btn-danger">Suppression</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Concerts</h5>
                <div class="card-body">
                    <h5 class="card-title">Edition des Concerts</h5>
                    <a href="{{ path('app_backoffice_movie_index')}}" class="btn btn-primary">Afficher la liste</a>
                    <a href="{{ path('app_backoffice_movie_new')}}" class="btn btn-success">Modification</a>
                    <a href="{{ path('app_backoffice_movie_new')}}" class="btn btn-danger">Suppression</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Commentaires</h5>
                <div class="card-body">
                    <h5 class="card-title">Edition des commentaires</h5>
                    <a href="{{ path('app_backoffice_movie_index')}}" class="btn btn-primary">Afficher la liste</a>
                    <a href="{{ path('app_backoffice_movie_new')}}" class="btn btn-success">Modification</a>
                    <a href="{{ path('app_backoffice_movie_new')}}" class="btn btn-danger">Suppression</a>
                </div>
            </div>
        </div>
        
       
    </div>

